Source: rzip
Maintainer: Package Salvaging Team <team+salvage@tracker.debian.org>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libbz2-dev
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/salvage-team/rzip
Vcs-Git: https://salsa.debian.org/salvage-team/rzip.git
Homepage: https://rzip.samba.org
Rules-Requires-Root: no

Package: rzip
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: compression program for large files
 rzip is a compression program able to take advantage of
 long distance redundancies in files, allowing greater
 compression ratios. rzip uses a history buffer of up to
 900MB, while gzip uses 32KB and bzip2 uses 900KB. rzip
 cannot read from the standard input or write to the
 standard output.
 .
 This package provides rzip and runzip commands.
